
<div id="{{id}}" class="card">
    <img class="card__image"  src="{{image}}" alt="">
    <div class="card__content">
<h3 class="card__name">{{name}}</h3>
<span class="card__price">{{price}} кредитов</span>
</div> 
<p class="card__descr">{{description}}</p>

<ul class="tag-list">
    {{#each ingredients}}
   <li class="tag-list__item">{{this}}</li>
   {{/each}}
</ul>
<button class="button">В корзину</button>
    </div>
    
    




