<div id="{{id}}" class="card">
    {{!-- <div class="card__content"> --}}
<h3 class="card__name">{{name}}</h3>
{{!-- <p class="card__descr">{{description}}</p>
<img class="card__image"  src="{{image}}" alt="">
<span class="card__price">{{price}}</span>
<ul class="tag-list">
   
</ul>
<button class="button"></button>
    </div> --}}
    
</div>




{{!-- <h3 class="menu-title">{{name}}</h3>
    <p class=""></p>
    <ul class="menu-list">
    {{#each arr}}
    <li class="menu-item">{{this}}</li>
    {{/each}}
    </ul> --}}